.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  display: none;
}

.carousel-group {
  display: none;
  justify-content: space-between;
}

.carousel-item {
  box-sizing: border-box;
  padding: 10px;
}

.carousel-button {
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

#carousel-1:checked ~ .next-2,
#carousel-2:checked ~ .next-3,
#carousel-2:checked ~ .prev-1,
#carousel-3:checked ~ .prev-2 {
  display: flex;
}

#carousel-1:checked ~ .group-1,
#carousel-2:checked ~ .group-2,
#carousel-3:checked ~ .group-3 {
  display: flex;
}
